html,
body {
  height: auto;
  overflow: auto;
}

.news {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news p {
  padding: 1.2rem;
  margin: 1rem 1rem 1rem 1rem;
  height: auto;
  width: 90%;
  background-color: hsl(48, 100%, 93%);
  color: hsl(240, 100%, 50%);
  display: block;
  border: 2px solid hsla(0, 0%, 0%, 0.829);
  border-radius: 1.2rem;
  font-size: 1.6rem;
}
